[MASTER]
load-plugins=pylint.extensions.docparams
ignore=docs

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120
# Maximum number of lines in a module
max-module-lines=10000

[MESSAGES CONTROL]
disable=exec-used,eval-used,too-many-branches,global-statement,no-self-use,too-few-public-methods