language: python

python:
  - "3.6"

cache: pip

install:
  - pip install -r dev-requirements.txt

script:
  - py.test -v .
  - pytest --cov=./
  - codecov

notifications:
  slack: urduhack:HarNbK5WrXQbu9XuFLPsSFtM